.main {
    /* Same as the width of the sidenav */
    font-size: 128px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

table.HeaderTable tr.HeaderRow td {
    text-align: left;
    padding: 10px 0px;
    font-size: 14px;
    color: #acacac;
}

tr.BodyRow td {
    text-align: left;
    padding: 8px 0px;
    font-size: 14px;
    color: #303030;
}

.ShadowTable{
    padding:10px;
    background-color:white;
    width:99%;
    box-shadow: 0px 2px 5px 3px #f1f1f1;
}
.Shadow{
    padding:10px;
    background-color:white;
    box-shadow: 0px 2px 5px 3px #f1f1f1; 
}
.showsidebar{
    width: 100%;
}
.nosidebar{
    width: 100%;
   
}

