.Raised {
    background-color: #ff825a;
    color: white;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 10px;
    vertical-align: middle;
}

.ChitDescription {}


.p-2 {
    padding: 0px !important;
}

.username {
    display: inline-block;
    padding-left: 10px;
}

.tabactive {
    border-bottom: 2px solid #FF9800;
    color: #FF9800;
}

.tenurelist{
    padding: 5px 15px;
}

.tenureactive {
    color: white;
    background-color: #ff825a;
}

.tenurenotactive {
    color: #ff825a;
    border: 1px solid #ff825a;
}

.CardHeader{
    display: block;
    padding: 10px 20px;
    background-color: #E91E63;
    color: white;
    text-align: center;
}

.SectionCard{
    background-color: #E91E63;
    border:1px solid #E91E63;
}

.btn-bigger{
    padding:15px 0px !important;
    font-weight: bold;
}