.Lefttd{
    width: 35%;
    padding: 10px 0px;
    color:#acacac;
}

.Righttd{
    width: 65%;
    padding: 10px 0px;;
}

.ShadowTable{
    padding:10px;
    background-color:white;
    width:99%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 9px;
}