.BorderRed {
  border: 1px solid red;
}

.BorderBlue {
  border: 1px solid blue;
}
.activelink{
  color:red;
}

.sidenav {
 
  /* width: 16.67%; */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  /* padding-top: 20px; */
  box-shadow: 5px 3px 5px 0px rgb(245, 245, 245);
}

.main {
  /* margin-left: 160px; */
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
  
  }
  .sidenav a {
    font-size: 18px;
  }
}

table.HeaderTable tr.HeaderRow td {
  text-align: left;
  padding: 8px 4px;
  font-size: 14px;
  color: #acacac;
  border-bottom: 0.5px solid #ececec;
}

tr.BodyRow td {
  text-align: left;
  padding: 12px 0px;
  font-size: 14px;
  color: #303030;
}

@media only screen and (min-width: 600px) {
  .ToggleButton {
    display: none;
  }
  .sidenav{
    /* width: 16.77%; */
  }
}

@media only screen and (max-width: 600px) {
 
  .sidenav{
  
  }
}

.container{
  width: 80%;
  margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;        
  background: #333;
  padding: 10px 0;
  color: #fff;
}
.fixed-header{
  top: 0;
}
.fixed-footer{
  bottom: 0;
}    
/* Some more styles to beutify this example */
nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}
.container p{
  line-height: 200px; /* Create scrollbar to test positioning */
}